# Ambiente virtual
venv/
env/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Arquivos de build do PyInstaller
build/
dist/
*.spec
*.exe

# Arquivos temporários / logs
*.log
*.tmp

# Planilhas, se quiser ignorar versões temporárias
~$*.xlsx

# Arquivos do sistema
.DS_Store
Thumbs.db

# IDEs / editores
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates